body {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.burger {
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: none;
}

.burger span {
  position: absolute;
  left: 8px;
  width: 32px;
  height: 3px;
  background: #000;
  border-radius: 2px;
  transition: transform .3s ease, opacity .2s ease;
  top: 50%;
}


.burger span:nth-child(1) {
  transform: translateY(-10px);
}

.burger span:nth-child(2) {
  transform: translateY(0);
}

.burger span:nth-child(3) {
  transform: translateY(10px);
}

.burger.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}


.header-menu {
  max-height: 0;
  overflow: hidden;
  background: #fff;
  transition: max-height .2s ease;
}

.header-menu.open {
  max-height: 400px; /* можно больше */
}

.header-menu__content {
  padding: 5px;
  color: #fff;
}

.header-menu__content a {
  color: #fff;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}


.contacts__phone-btn {
    font-size: 18px;
    color: #FFF;
    font-weight: 500;
    background: linear-gradient(180deg, #FF9D33 0%, #FF8400 100%);
    box-shadow: 0px 10px 10px -5px rgba(255, 132, 0, 0.4);
    padding: 15px 40px;
    border-radius: 15px;
    display: inline-block;

    transition: all 0.3s ease;
}

.contacts__phone-btn:hover{
    transform: scale(1.09)
}

.color {
    background: #FAFAFD;
}

.faq-accordion {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  background: #fff;
}


.faq-item {
  border-bottom: 1px solid #e5e7eb;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
    width: 100%;
    padding: 24px 24px 24px 24px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-align: left;
    font-weight: 700;
    margin-top: 0.5rem; 
    font-size: 18px;
    line-height: 1.15;
    color: #051d47;
    transition: color 0.2s ease;
}

.faq-question:hover{
    color: #FF8400;
}

.faq-icon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.faq-item.active .faq-icon {
    transform: rotate(180deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 1.5rem;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    color: #3f506e;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 20px;
    text-align: justify;
}


.pulse {
    position: relative;
    overflow: visible;
    --pulse-size: 140px;
    --pulse-speed: 1.6s;
}

.pulse::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: var(--pulse-size);
    height: var(--pulse-size);

    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    border: 4px solid rgba(255, 157, 51, 1);

    animation: pulse-circle var(--pulse-speed) infinite;
    pointer-events: none;
    z-index: 5;
}


@keyframes pulse-circle {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
        border-width: 4px;
    }

    15% {
        transform: translate(-50%, -50%) scale(0.35);
        opacity: 1;
        border-width: 4px;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 0;
        border-width: 2px;
    }
}


.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    padding: 20px 10px;
    z-index: 1200;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.header__phone-icon {
    animation: ring 2s 0.7s ease-in-out infinite;
    transform-origin: 50% 50%;
}

@keyframes ring {
    0%   { transform: rotate(0); }
    5%   { transform: rotate(15deg); }
    10%  { transform: rotate(-15deg); }
    15%  { transform: rotate(10deg); }
    20%  { transform: rotate(-10deg); }
    25%  { transform: rotate(5deg); }
    30%  { transform: rotate(-5deg); }
    35%  { transform: rotate(0); }
    100% { transform: rotate(0); }
}


.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    width: 85px;
    height: 85px;
}

.header__logo-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 10px;
    font-family: 'Gilroy';
    text-transform: uppercase;
}

.header__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__top{
    display: flex;
    gap: 40px;
    margin-bottom: 15px;
}

.header__top-city{
    display: flex;
    gap: 15px;
    align-items: center;
}

.header__city-desc{
    font-size: 16px;
    font-weight: 700;
}

.header__top-link {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-decoration: none;

    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0% 2px;

    transition: background-size 0.3s ease;

    padding-bottom: 4px;
}

.header__top-link:hover {
    background-size: 100% 2px;
}

.header__schedule {
    display: flex;
    align-items: center;
}

.header__schedule-title {
    font-size: 14px;
    font-weight: 500;
}

.header__schedule-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__schedule-text {
    font-size: 14px;
    font-weight: 500;
}

.header__schedule-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__contacts-icon {
    width: 30px;
    height: 30px;
}

.section__about {
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
}


.about__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.about__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.section__about > .container {
    position: relative;
    z-index: 2;
}

.about__title{
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    padding-top: 75px;
    margin-bottom: 50px;
    max-width: 590px;
}

.about__item-icon{
    height: 80px;
    width: 80px;
}

.about__item-desc{
    font-size: 16px;
    font-weight: 500;
}

.about__item{
    display: flex;
    align-items: center;
    line-height: 1.5;
    width: 295px;
    padding-bottom: 10px;
}

.about__item--last{
    padding-bottom: 50px;
}

.about__wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 620px;
    justify-content: left;
    margin-left: -12px;

}

.about__contacts{
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.about__contacts-phone{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    background: linear-gradient(180deg, #FF9D33 0%, #FF8400 100%);
    box-shadow: 0px 10px 10px -5px rgba(255, 132, 0, 0.4);
    border-radius: 15px;
    padding: 15px 50px;
    transition: all 0.3s ease;
}

.about__contacts-phone:hover{
    transform: scale(1.08);
}

.about__contacts-icon{
    width: 20px;
    height: 20px;
}

.about__contacts-telegram{
    background-color: rgb(66, 135, 245);
    border-radius: 16px;
    padding: 15px 20px;
    
}

.section__advantages{
    padding-bottom: 100px;
    padding-top: 100px;
}

.advantages__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantages__title{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}

.advantages__desc{
    line-height: 28px;
    font-size: 16px;
    text-align: justify;

}

.advantages__list{
    line-height: 28px;
    font-size: 16px;
}

.advantages__span{
    font-weight: 700;
}

.advantages__right-img{
    border-radius: 10%;
    max-width: 465px;
    max-height: 350px;
}

.advantages__left{
    max-width: 650px;
}

.section__examples-title{
    font-weight: 700;
}

.section__examples {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section__examples-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.examples__item {
    text-align: center;
}

.examples__item img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

.examples__item-title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}


.swiper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-slide {
    width: 283px;
    display: flex;
    justify-content: center;
}

.swiper__slide-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-decoration: none;

    transition: color 0.2s ease;
}

.swiper__slide-item:hover {
    color: #0a58ca;
}

.swiper__img-wrap {
    position: relative;
    width: 100%;
}

.swiper__img {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.swiper__img-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}


.swiper-btn-prev,
.swiper-btn-next {
    position: absolute;

    top: calc(50% - 50px);

    width: 44px;
    height: 44px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 6px 18px rgba(0,0,0,.15);
    z-index: 20;
}

.swiper-btn-prev { left: 0; }
.swiper-btn-next { right: 0; }

.swiper-btn-prev::before,
.swiper-btn-next::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
}

.swiper-btn-prev::before {
    transform: translate(-40%, -50%) rotate(-135deg);
}

.swiper-btn-next::before {
    transform: translate(-60%, -50%) rotate(45deg);
}

.swiper-btn-prev:hover,
.swiper-btn-next:hover {
    background: #ff8400;
}

.swiper-btn-prev:hover::before,
.swiper-btn-next:hover::before {
    border-color: #fff;
}


.fancybox__container {
    z-index: 9999;
}

.section__cooperation {
    padding-top: 100px;
    padding-bottom: 100px;
}

.cooperation__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    
}

.cooperation__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cooperation__item-icon {
    margin-bottom: 16px;
}

.cooperation__item-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
}

.cooperatoin__item-desc {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

.cooperation__title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 48px;
}

.section__faq{
    padding-top: 48px;
    padding-bottom: 48px;
}

.section__faq-title{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
}

.section__services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services__wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.services__item {
    width: 283px;
    display: flex;
}

.services__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    color: #000;
    line-height: 1.2;

    transition: color 0.2s ease;
}

.services__item-link:hover{
    color: #0a58ca;
}

.services__item-img {
    padding-bottom: 16px;
}

.section__services-title{
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 48px;
}


.contacts__left{
    max-width: 500px;
    width: 100%;
    height: 320px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 24px;
    border-radius: 4px;
    background-color: #fff;
}

.contacts__right{
    max-width: 500px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 24px;
    background-color: #fff;
    border-radius: 4px;
}

.contacts__right-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 48px;
}

.contacts__right-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.contacts__right-phone {
    font-size: 20px;
    font-weight: 700;
    
}

.contacts__right-link {
    color: #000;
    font-size: 20px;

}

.contacts__wrapper{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.contacts__right-adress {
    font-size: 20px;
    margin-bottom: 48px;
    line-height: 1.5;
}
.contacts__right-span {
    font-size: 20px;
    font-weight: 700;
    padding-right: 5px;
    
}

.section__contacts {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section__contacts-title{
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    padding-bottom: 48px;
    text-transform: uppercase;
}

.footer {
    background: #051d47;
    padding: 15px 0;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.footer__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
}


.footer__desc {
    font-size: 16px;
    color: #fff;
    text-align: center;
    justify-self: center;
}

.mobile__city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.mobile__city-desc {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.mobile__schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.mobile__schedule-title {
    font-size: 14px;
    color: #000;
}
.mobile__schedule-item {
    display: flex;
    align-items: center;
    gap: 5px;
}
.mobile__schedule-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.mobile__schedule-text {
    font-size: 14px;
    color: #000;
}

.mobile__top-phone{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile__top-link{
    font-size: 14px !important;
    margin-bottom: 0 !important;
    padding-left: 5px;
    color: #000 !important;
}

.mobile__contacts-icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.header-menu__content{
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__info-mobile{
    display: none;
}

.contacts__tg-float{
    background-color: rgb(66, 135, 245);
    padding: 15px 20px;
    display: flex;
    gap: 5px;

    border-radius: 999px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.contacts__tg-icon{
    width: 20px;
    height: 20px;
    margin-top: -1px;
    flex-shrink: 0;
    
}

.contacts__btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts__tg-text{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.tg-hidden {
  display: none !important;
}

/* кнопка в контактах */
.contacts__tg-float {
  display: none;
}

.contacts__tg-float.active {
  display: flex;
}






.tg-float {
    
    position: fixed;
    right: 20px;
    bottom: 30px;

    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 20px;
    background-color: rgb(66, 135, 245);
    color: #fff;
    border-radius: 999px;

    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;

    transition: opacity .4s ease, transform .4s ease;
    z-index: 1000;
}

.tg-icon {
    width: 20px;
    height: 20px;
    display: block;
    flex-shrink: 0;
     margin-top: -1px;
    
}

.tg-text{
    display: block;
    line-height: 1;
}


@keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.tg-float.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

    animation: float 3s ease-in-out infinite;
}
/* //////////////////////////////////////////////////////////// */
.section__item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__item {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section__item-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 48px;
    text-align: center;
}

.section__item-img {
    max-width: 500px;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    display: block;
    border-radius: 10%;
    margin-bottom: 28px;
}

.section__item-desc {
    color: #004c99;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 32px;
    text-align: center;
}


.section__repair {
padding-bottom: 100px;
}


.repair__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repair__item {
    padding-bottom: 10px;
    max-width: 800px;
}

.repair__item-title{
    color: #004c99;
    font-weight: 700;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    font-size: 32px;
}

.small {
    font-size: 28px;
}

.repair__item-desc {
    line-height: 1.6;
    font-size: 16px;
}

.repair__item-list--span{
    font-weight: 700;
    font-size: 18px;
    padding-right: 5px;
    
}

.repair__item-list{
    font-size: 18px;
    line-height: 1.6;
}

.repair__subitem{
    max-width: 800px;
}

.repair__subitem-title{
    font-size: 28px;
    color: #004c99;
    font-weight: 700; 
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.repair__subitem-desc{
    line-height: 1.6;
}

.repair__subtitle-list{
    line-height: 1.6;
}



@media (max-width: 1160px) {
    .advantages__wrapper {
        flex-direction: column-reverse;
    }

    .advantages__right {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.advantages__right-img {
    width: 100%;
    height: auto;       
    display: block;
    border-radius: 24px; 
    margin-bottom: 30px;

}


@media (max-width: 1080px) {

}
@media (max-width: 1050px) {
    
}

@media (max-width: 1025px) {
    .services__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .services__item {
        width: auto;
    }


} 

@media (max-width: 920px) {
        .header__phone-btn{
            display: none;
        }

        .cooperation__wrapper{
            grid-template-columns: 1fr 1fr;
        }

        
    }

@media (max-width: 770px) {
.contacts__wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .contacts__left,
    .contacts__right {
    max-width: 1000px;
    width: 100%;
    }
    .contacts__left{
        margin-bottom: 20px;
    }
}

@media (max-width: 670px) {
        .header__logo-img {
            width: 60px;
            height: 60px;
        }
        .header__logo-title{
            font-size: 14px;
            line-height: 1.2;
        }

        .header__city-desc{
            font-size: 14px;
        }

        .header__top-link{
            font-size: 14px;
        }

        .header__top{
            margin-bottom: 5px;
        }

        .header__wrapper{
            flex-wrap: wrap;
        }
    }


@media (max-width: 600px) {

    .header__wrapper{
        justify-content: center;
    }
  .header__logo,
  .header__contacts,
  .header__info {
    display: none;
  }

  .header__info-mobile{
    display: block;
  }

  .header__schedule p{
    font-size: 12px;
  }

  .header__schedule-icon{
    margin-left: 10px;
    
  }

  .header__contacts-icon{
    width:22px;
    height: 22px;
    margin-right: 10px;
  }

  .header__top{
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media (max-width: 597px) { 
    .about__title{
        padding-top: 30px;
    }

    .about__contacts{
        justify-content: center;
        margin-top: 40px;
    }

    .about__bg{
        height: 600px;
    }
}
@media (max-width: 560px) {

}

@media (max-width: 500px) {
.cooperation__wrapper{
            grid-template-columns: 1fr;
        }
        .footer__title{
            display: none;
        }
        .footer__wrapper{
            display: flex;
            justify-content: center;
        }

        .footer{
            padding: 30px 0;
        }
        
}
@media (max-width: 470px) { 

    .about__contacts{
        
        margin-top: 150px;
    }
    .section__item{
        padding-top: 50px;
    }
    .repair__item-title {
        text-align: center;
        font-size: 28px;  
    }

    .section__advantages{
      padding-bottom: 50px;
      padding-top: 50px;
    }

    .section__examples {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section__cooperation {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section__services {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section__contacts {
  padding-top: 50px;
}

 .services__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .section__services-title{
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 40px;
    }
    .section__faq-title{
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 40px;
    }
    .cooperation__title{
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 50px;
    }
    .section__examples-title{
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 40px;
    }
    .about__title{
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 40px;
    }

    .advantages__title{
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 40px;
    }

    .about__item-desc {
        font-size: 14px;
    }

    .about__item-icon{
        width: 60px;
        height: 60px;
    }

    .about__contacts-phone{
        padding: 15px 20px;
    }

}
}

@media (max-width: 440px) {
    .contacts__tg-text{
        display: none;
    }
    .contacts__tg-float{
        border-radius: 15px;
    }

    
}

@media (max-width: 360px) {
    .contacts__phone-btn{
        padding: 15px 15px;
    }
}